@model MiniMe.Models.Link

@{
    ViewBag.Title = "Shorten a Link";
}

@section HeaderScripts{
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-field-labels.js")" type="text/javascript"></script>
<style>
#divError
{
    color:red;
    margin-top:5px;
}

</style>

<script lang="en" type="text/javascript">


    $(document).ready(function () {


        $("#DestinationURL").keyup(function () {
            if ($("#createform").validate({ showErrors: function(errorMap, errorList){} }).element("#DestinationURL")) {               
                $("#create").show();
            }
            else {
                $("#create").hide();
            }
        });

            




        $('#create').click(function () {
            $('shortenedURL').hide();

            var Link = { DestinationURL: $('#DestinationURL').val() };
            $.ajax({

                url: '/',
                type: "POST",
                data: JSON.stringify(Link),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#shortenedURL').fadeIn("slow");
                    $('#shortURL').html(data.ShortURL);
                },
                error: function (data) {
                    alert(data.Message);
                }
            });
            return false;
        });



    });






</script>

}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createform" }))
{    
    <label class="input">
    <span>Paste a link</span>
    <input type="url" title="" id="DestinationURL" name="DestinationURL" class="url" />   
    </label>        
            <input type="submit" value="Create" id="create" name="create" style="display:none;" /><br />
}

<div id="divError" style="display:none;"></div>
<div id="shortenedURL" style="display:none;margin-top:20px;">

<div id="shortURL" style="float:left;">
</div>

<div id="copyLink" style="float:right;">
<img src="/content/images/page_copy.png" /> Copy
</div>
<br style="clear:both;" />

</div>
