@model MiniMe.Models.Link

@{
    ViewBag.Title = "Not Found";
    ViewBag.BaseURL = "Code Not Found";
}


The code <strong>"@ViewBag.ShortCode"</strong> was not found.<br />Please note that codes are CaSe SeNsItIvE.<br />
<a href="/create">Get a shortened link</a>.